* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background: linear-gradient(90deg, rgb(150, 0, 0), rgb(80, 0, 69));
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;

}

h1 {
    font-size: 72px;
    margin: 72px;
    text-align: center;
    
    
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

.thumbnail {
    border: 3px solid white;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    height: 200px;
    width: 300px;
    transform: scale(1);
    transition: transform .3s ease-in-out;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.popup {
    align-content: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
    display: flex;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100vw;
    background: rgb(0,0,0, 0.5)
}

.popup.hidden {
    display: none;
}

.popup__close {
    position: fixed;
    right: 32px;
    top: 32px;
    padding: 0 10px;
    background: none;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 56px;
    cursor: pointer;
}

.popup__img {
    max-height: 80%;
    max-width: 80%;

}

.popup__arow {
    border: none;
    border-radius: 50%;
    position: absolute;
    height: 96px;
    width: 96px;
    top: 45%;
    font-size: 96px;
    opacity: 0.5;
}

.popup__arow--left {
    left: 20px;
}

.popup__arow--right {
    right: 20px;
}